* {
    font-family: 'IM Fell Double Pica SC', serif;
}

body {
    text-align: center;
    background-color: cornsilk;
}

textarea {
    font-size: 1.2em;
    padding: 12px 20px;
    border-radius: 5%;
}

textarea:focus {
    border-color: black;
    border-width: 0.12em;
}

p {
    font-size: 1.8em;
}